/* Primary Navigation */
nav ul {
  background-color: rgba(0, 73, 55, 0.171);
  background-image: url("../images/sky-strip.png");
}

@media (width > 50em) {
  body {
    font-size: 22px;
  }
  
  nav ul {
    display: flex;
    justify-content: flex-end;
  }
}