/* Base typography */
h1 {
  font-family: Sacramento;
  font-size: 5rem;
  margin-top: 5.5rem;
  margin-bottom: 0px;
  line-height: 5rem;

}

h2 {

}

h3 {
  font-family: Major Mono Display;
  line-height: 1.5rem;
}


p {
  font-family: Noto Sans;
  font-size: 18px;
  line-height: 1.6;
}